<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true">

    <php>
        <ini name="error_reporting" value="-1" />
        <env name="API_CLIENT_ID" value="XXXXX" />
        <env name="API_CLIENT_SECRET" value="XXXXX" />
        <env name="API_REFRESH_TOKEN" value="XXXXXX" />
        <env name="API_USE_SANDBOX" value="1" />
    </php>

    <testsuites>
        <testsuite name="SixBySix Freeagent API">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
